<!DOCTYPE html>
<html>
<head>
    <title>添加题目</title>
    <link rel='stylesheet' href='../css/add1.css' type="text/css"/>
	
</head>

<body>
	



 <div class="top">   <!--     这个是顶部状态栏     -->
    <div class="top1"></div>
    <div class="top2">
       <p>&nbsp &nbsp 欢迎用户: <%- user.name %>  </p>
        
    </div>
 
 </div>

<h2><center>您正在添加一道新的题目</center></h2>



<div class="add_cont">
    <p>请输入问题的题目：</p>
	<textarea id="questitle"></textarea>
    <p>请输入问题的详细描述：</p>
	<textarea id="question"></textarea>
    <p>请输入答案</p>
    <textarea id="answer"></textarea>
</div>

<div class="add_blank"> </div>

<div class="add_butt" align="center">

      <button type = "submit" class="add_button1" id="addM"><span>确认添加 </span></button>
	  &nbsp; &nbsp; &nbsp;
	  <button class="add_button2" ><a href="/homeM/repositoriesM"><span>返回题库 </span></a></button>
</div>

<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){ 
		$("#addM").click(function(){ 
			var questitle=$("#questitle").val();
            var question=$("#question").val();
            var answer=$("#answer").val();
            var item={"nt": questitle, "nq": question, "na": answer};
            console.log(item);
            $.ajax({
                url:'add',
                // /homeM/add; homeM/add
				type:'post',
				data: item,
                success: function(data,status){ 
					if(status == 'success'){ 
                        //打印创建成功
                        location.href = '/homeM';
					}
				},
				error: function(data,status){ 
					if(status == 'error'){ 
                        //print(err)
					}
				}
            })
		});
	});
	</script>

</body>
</html>
