<!DOCTYPE html>
<html>
  <head>
    <title>面试官初始界面</title>
    <link rel='stylesheet' href='css/homem.css' type="text/css"/>
	
  </head>
  
  
  <body>
	  
   <div class="top">   <!--     这个是顶部状态栏     -->
      <div class="top1"></div>
      <div class="top2">
         <p>&nbsp &nbsp 欢迎面试官: <%- user.name %>  </p>
          
      </div>
   
   </div>
   
   
   <div class="homem_cont">
   <h2><center>  面试官初始界面 </center><h2>
   
   </div>

   <div class="homem_blank">  </div>

   <div class="respm_butt" align="center">
     <button class="homem_button1" ><a href="/homeM/historyrepositories"><span>历史记录 </span></a></button>
     &nbsp; &nbsp; &nbsp;
     <button class="homem_button2" ><a href="/homeM/repositoriesM"><span>邀请答题 </span></a></button>	
	 &nbsp; &nbsp; &nbsp;
	 <button class="homem_button3" ><a href="/logout"><span>退出登录 </span></a></button>
   </div>

  </body>
</html>
