<!DOCTYPE html>
<html>
  <head>
    <title>面试者初始界面</title>
    <link rel='stylesheet' href='css/home1.css' type="text/css"/>
  </head>
  
  
  <body>

  <div class="top">   <!--     这个是顶部状态栏     -->
     <div class="top1"></div>
     <div class="top2">
        <p>&nbsp &nbsp 欢迎用户: <%- user.name %>  </p>
         
     </div>
  
  </div>
	
  <div class="bottom">
	 <p>   </p>
    <div class="list" id="user_list">
    </div>
	
	<p>   </p>
  <div class="home_butt" align="center">
    <button id="get_invite" ><a href="home/doItem">查看面试信息</a></button>
	<div class="home_butt" align="center">
    <button class="home_button1" ><a href="home/repositories"><span>查看题库 </span></a></button>
	&nbsp; &nbsp; &nbsp;
	<button class="home_button2" ><a href="logout"><span>退出登录 </span></a></button>
	</div>




  </div>
  <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
  <script type="text/javascript">
      // $("#get_invite").click(function(){ 
      //   $.ajax({ 
      //     url:'home',
      //     type:'post',
      //     // data: data,
      //     success: function(data,status){ 
      //       if(status == 'success'){ 
      //         alert("hr信息："+ data.hrId);
      // // 返回data的信息：
      // //         data={
			// // 	"userId": doc.userId,
			// // 	"hrId": doc.hrId,
			// // 	"itemTitle": doc.title,
			// // 	"itemQuestion": doc.question,
			// // 	"itemAnswer": doc.answer
			// // }
      //       }
      //     },
      //     error: function(data,status){ 
      //       if(status == 'error'){ 
      //         alert("未接受到邀请")
      //       }
      //     }
      //   });
      // });
    </script>
  
  </body>
</html>
