<!DOCTYPE html>
<html>
  <head>
    <title>初始页面</title>
	<link href="css/index1.css" rel="stylesheet" type="text/css"  />  
  </head>
  
  <body>
    <div class="top-0">
    <p align="right">欢迎来到在线编程系统</p>
    </div>
    <div class="top">
    <h2><center>在线编程面试系统</center></h2>	
    </div>
	<p> </p>    <!--  空行   -->
	<div class="but_index" align="center">
    <button class="button button1" ><a href="/registerM">面试官注册</a></button>          <!-- 这里最好使用button点击事件 -->
	&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="button button2" ><a href="/register">面试者注册</a></button>  
	&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button button3" ><a href="/loginM">面试官登录</a></button>
	&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button button4" ><a href="/login">面试者登录</a></button>
    
	</div>

  </body>
</html>
